.profile-container.ng-cloak
  .user-dropbox-songs{ ng_if: 'user.dropboxSongs' }
    %h2 {{user.first_name}}'s Dropbox Songs
    .dropbox_songs-list{ ng_repeat: 'song in user.dropboxSongs' }
      {{song.path}}

  .user-parties
    %h2 {{user.first_name}}'s Playlists
    .parties-list{ ng_repeat: 'party in user.parties' }
      %a.party{ ng_href: "/parties/{{party.id}}" }
        {{party.name}}

  .create-party
    %h2 Create Party

    %form.creat-party-form{ ng_submit: "createParty()" }
      %input{ :type => "text", ng_model: "newParty.name" }
      %input{ :type => "submit", :value => "Create Party" }
