.parties-container.ng-cloak
  .parties_list{ ng_repeat: 'party in parties' }
    %li.party
      =link_to "{{partyURL(party.id)}}"
      {{party.name}}

  .create_party
    %h2 Create Party

    = form_for @party do |f|
      = f.text_field :name, placeholder: "Party Name"
      = f.submit
