%div.ng-cloak.shelf-left{ snap_drawer: "" }
  .user
    %img.avatar{ ng_src: "{{currentUser.image}}" }
    .name {{currentUser.first_name + " " + currentUser.last_name}}
  .navigation
    .home Home
    .favorites Favorites
    .logout Logout
