.home-container
  .create-party
    %a.button-block.button-main{ ng_href: "/playlists/new" } Create a Party
  .event-search
    %h2 Search Events
    %input{ type: "search", placeholder: "search events..." }
