.songs-to-add{
  text-align: left;
  .glyphicon-ok{
    margin-left: 10px;
    display: none;
    float: right;
  }
  &.selected{
    background-color: #d9edf7;

    .glyphicon-ok{
      display: inline-block;
    }
  }
}
.modal-body{
  text-align: center;
  .toggle-provider{
    margin-bottom: 5px;
  }
}

.song-filter{
  input{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
  }
}
