.songs-to-add{
  .icon-ok{
    margin-left: 10px;
    color: #08C400;
    display: none;
  }
  &.selected{
    .icon-ok{
      display: inline-block;
    }
  }
}

.song-filter{
  text-align: center;
  input{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
  }
}
