.save-song {
  display: inline-block;
  .glyphicon {
    padding: 0 5px;
    font-size: 21px;
    color: #ADACAC;
    &.song-saved {
      color: #C23131;
    }
  }

  .glyphicon:hover {
    cursor: pointer;
    color: #C47373;
    &.song-saved {
      color: #C23131;
    }
  }
}

.feedback-actions {
  display: inline;
  height: 100%;
  width: 100%;

  .divider {
    display: inline;
    color: #666;
    font-size: 20px;
  }
}
