.fb-event{
  margin-bottom: 60px;
}

.create-playlist-modal{
  margin-bottom: 40px;
}

.new-event-name, .new-event-location, .new-event-date, .new-event-private{
  padding-top: 2px;
  padding-bottom: 2px;
}

.new-event-name, .new-event-location{
  width: 100%;
  .form-control{
    width: 80%;
    display: inline-block;
  }
}

.fb-events-container{
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-title{
  width: 10%;
  display: inline-block;
}

.new-event-date{
  width: 100%;
  .form-control{
    width: 40%;
    display: inline-block;
  }
}

.new-event-private{
  .checkbox{
    display: inline-block;
  }
  .form-control{
    width: 77%;
    display: inline-block;
  }
}

