.player-container{
  text-align: center;
  background-color: #EEE;
  padding: 18px;
  border-radius: 15px;
  width: 73%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  // margin-top: 10px;

  .play, .pause, .skip{
    margin-top: 2px;
    margin-bottom: 4px;
  }

  .currently-playing{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
  }
}
img{
  height: 18px;
}
.bufferbar{
  z-index:5;
  width:0;
  background: #777;
}
.timebar{
  z-index:10;
  width:0;
  background: #3FB7FC; /* fallback */
  background:-moz-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
  background:-webkit-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
  background:-o-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
}
.progressbar{
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  width:75%;
  height:10px;
  position:relative;
  cursor:pointer;
  background: #444; /* fallback */
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}
.progressbar span{
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:block;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}
.time{
  margin-left: auto;
  margin-right: auto;
  width:15%;
  text-align:center;
  font-size:11px;
  line-height:12px;
}
.progressbar-container{
  margin-bottom: 5px;
}
