%h2= "Thanks for signing up for Playedby.me, #{@user.first_name}!"

%p
  We really hope you enjoy using Playedby.me to share, vote, and discover music.
  In the future, we'll let you know of any cool new features. Yeah!

%h3= link_to 'Create a playlist and invite your friends now!', root_url

%p
  Party on,
  %br
  Basil & Matt
