= "Thanks for signing up for Playedby.me, #{@user.first_name}!"
\
\
We really hope you enjoy using Playedby.me to share, vote, and discover music.
In the future, we'll let you know of any cool new features. Yeah!
\
\
= link_to 'Create a playlist and invite your friends now!', root_url
\
\
Party on,
\
Basil & Matt
