.party-container{ ng_if: 'party', ng_controller: 'PartyCtrl' }
  .name
    %h3 {{party.name}}

  .player
    %h3 Audio Player

  .songs
    %h3 Songs
    .playlist-song-list{ ng_repeat: "song in party.playlists | orderBy:'down_votes - up_votes'" }
      %span.name {{song.song_path}}
      %span.votes {{song.up_votes - song.down_votes}} votes
      %i.upvote.general-enclosed.foundicon-plus{ ng_click: "upvoteSong(song)" }
      %i.downvote.general-enclosed.foundicon-minus{ ng_click: "downvoteSong(song)" }
