.playlist-container{ ng_show: "playlist",  ng_controller: 'PlaylistShowCtrl' }
  .members-only{ ocarina_if: "isMember(currentUser.id)" }
    -# .members
    -#   =render 'playlists/members'

    %a.button-block.button-main{ ng_href: "/playlists/{{playlist.id}}/add_songs" }
      Add Songs
    .playlist-name
      %h2 {{playlist.name}}
      %h4
        by
        %a{ng_href: "/{{playlist.host.id}}" }
          %img.avatar{ ng_src: "{{playlist.host.image}}" }

    .played-playlist-songs{ ng_show: "playlist.played_playlist_songs.length" }
      .song-list.list.inset{ ng_repeat: "song in playlist.played_playlist_songs | orderBy:'played_at'" }
        %li.song-info-container
          %b.votes {{song.vote_count}} votes
          .song-name.wordwrap {{ song.song_name | truncate:60:true:true }}

    .player{ ocarina_if: "playlist.owner_id == currentUser.id" }
      =render 'partials/mobile/playlists/player'

    -# .guest-feedback{ ocarina_if: "playlist.owner_id != currentUser.id" }
    -#   =render 'playlists/guest_feedback'

    -# .lookup-progress{ ng_show: 'inProgress' }
    -#   .spinner

    .playlist-songs{ ng_show: "playlist.playlist_songs.length" }
      .song-list.list.inset{ ng_repeat: "song in playlist.playlist_songs | orderBy:'vote_count':true" }
        %li.song-info-container
          %b.votes {{song.vote_count}} votes
          .song-name.wordwrap {{ song.song_name | truncate:60:true:true }}
          %a.upvote.button{ ng_class: '{"btn-warning": song.current_user_vote_decision == 1}', ng_click: "upvoteSong(song)" }
            upvote
          %a.downvote.button{ ng_class: '{"btn-warning": song.current_user_vote_decision == -1}', ng_click: "downvoteSong(song)" }
            down
    .playlist-songs.zero-state{ ng_hide: "playlist.playlist_songs.length" }
      %h4 Your playlist is empty!
