.footer.container
  .social-links.pull-left
    %a{ng_href: "", target: "_blank" } Facebook
    %a{ng_href: "", target: "_blank" } Twitter
  .company-links.pull-right
    %a{ng_href: "", target: "_blank" } Our Blog
    %a{ng_href: "/contact" } Contact
    %a{ng_href: "/about" } About Us
    %a.legal{ng_href: "", target: "_blank" } Terms
    %a.legal{ng_href: "", target: "_blank" } Privacy
