.navbar.navbar-inverse.ng-cloak{ ng_controller: 'NavCtrl' }
  .container
    .navbar-header
      %button.navbar-toggle{ "data-toggle" => "collapse", :type => "button", "data-target" => ".navbar-collapse" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ ng_href: "/", ng_click: "collapseNav()" } PlayedBy.me

    .collapse.navbar-collapse
      .nav.navbar-nav.navbar-right
        -# TODO directive to handle nav template
        %li.dropdown{ ocarina_if: "!isMobilized" }
          %a.dropdown-toggle{ href: "" }
            = "#{current_user.first_name} #{current_user.last_name}"
            %b.caret
          %ul.dropdown-menu
            %li
              %a{ href: "/search", ng_click: "collapseNav()" } Search
            %li
              %a{ href: "", ng_click: "openDbSongsModal()"} My Songs
            %li
              %a{ href: "/favorites", ng_click: "collapseNav()" } Favorites
            %li
              %a{ href: "", dropbox_auth: "", ng_hide: "user.dropbox_authenticated" } Connect Dropbox
            %li.divider
            %li
              %a{ href:  "", ng_click: "logout()" } Logout

        %li{ ocarina_if: "isMobilized" }
          %a{ href: "/search", ng_click: "collapseNav()" } Search
        %li{ ocarina_if: "isMobilized" }
          %a{ href: "", ng_click: "openDbSongsModal()" } My Songs
        %li{ ocarina_if: "isMobilized" }
          %a{ href: "/favorites", ng_click: "collapseNav()" } Favorites
        %li{ ocarina_if: "isMobilized" }
          %a{ href: "", dropbox_auth: "", ng_hide: "user.dropbox_authenticated" } Connect Dropbox
        %li.divider
        %li{ ocarina_if: "isMobilized" }
          %a{ href:  "", ng_click: "logout()" } Logout
