%nav.navbar.navbar-inverse.navbar-fixed-top.ng-cloak{ ng_controller: 'NavCtrl', role: "navigation" }
  .container
    .navbar-header
      %button.navbar-toggle{ "data-toggle" => "collapse", :type => "button", "data-target" => ".navbar-collapse" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ ng_href: "/", ng_click: "collapseNav()" } PlayedBy.me

    .collapse.navbar-collapse
      %ul.nav.navbar-nav{ ng_hide: "isMobilized || showSearch" }
        %li
          %a.glyphicon.glyphicon-search{ href: "", ng_click: "toggleSearch()", on_click_focus: ".nav-search" }

      %form.navbar-form.navbar-left{ ng_submit: "goToPlaylist(selectedPlaylist)", role: "search" }
        %input.nav-search.form-control{ on_focus: "updatePlaylists()",
          on_blur: "toggleSearch()",
          ng_show: "showSearch || isMobilized",
          placeholder: "search",
          type: "text",
          ng_model: "selectedPlaylist",
          typeahead: "playlist as playlist.name for playlist in playlists | filter:{name: $viewValue}" }

      %ul.nav.navbar-nav.navbar-right
        -# TODO directive to handle nav template
        %li.dropdown{ ocarina_if: "!isMobilized" }
          %a.dropdown-toggle{ href: "" }
            {{currentUser.first_name}}
            %b.caret
          %ul.dropdown-menu
            %li
              %a{ href: "/favorites", ng_click: "collapseNav()" } Favorites
            %li{ ocarina_if: "!currentUser.dropbox_authenticated" }
              %a{ href: "", dropbox_auth: "" } Connect Dropbox
            %li
              %a{ href:  "", ng_click: "auth.logout()" } Logout

        %li{ ocarina_if: "isMobilized" }
          %a{ href: "/favorites", ng_click: "collapseNav()" } Favorites
        %li{ ocarina_if: "isMobilized && !currentUser.dropbox_authenticated" }
          %a{ href: "", dropbox_auth: "" } Connect Dropbox
        %li{ ocarina_if: "isMobilized" }
          %a{ href:  "", ng_click: "auth.logout()" } Logout
