.navbar.navbar-inverse{ ng_controller: 'NavCtrl' }
  .container
    %button.navbar-toggle{ "data-toggle" => "collapse", :type => "button", "data-target" => ".navbar-responsive-collapse" }
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{ ng_href: "/", ng_click: "collapseNav()" } PlayedBy.me
    .nav-collapse.collapse.navbar-responsive-collapse
      %form.navbar-form{ ng_submit: "joinPlaylist(selectedPlaylist)" }
        %input.nav-search.form-control.col-lg-8.pull-left{ on_focus: "updatePlaylists()",
          :placeholder => "search",
          :type => "text",
          ng_model: "selectedPlaylist",
          typeahead: "playlist as playlist.name for playlist in playlists | filter:{name: $viewValue}" }
      .nav.navbar-nav.pull-right
        -# TODO create conditional dropdown
        -# %li.dropdown
        -#   %a.dropdown-toggle{ href: "" }
        -#     = "#{current_user.first_name} #{current_user.last_name}"
        -#     %b.caret
        -# %ul.dropdown-menu
        %li
          %a{ :href => "", ng_show: 'true',
            ng_click: "openDbSongsModal()"} My Songs
        %li.divider
        %li
          %a{ :href => "", ng_click: "logout()" } Logout
