.profile-container.ng-cloak{ ng_controller: 'ProfileCtrl' }
  .user-parties
    %h3 {{user.first_name}}'s Playlists
    .parties-list{ ng_repeat: 'playlist in user.playlists' }
      %a.playlist{ ng_href: "/playlists/{{playlist.id}}" }
        {{playlist.name}}

  .create-playlist
    %h4 Create Playlist
    .row
      .col-lg-6
        .input-group
          %input.form-control{ :type => "text", ng_model: "newPlaylist.name" }
          %span.input-group-btn
            %button.btn.btn-default{ ng_click: "createPlaylist()" }
              Create Playlist
