.profile-container.ng-cloak{ ng_controller: 'ProfileCtrl' }
  .user-parties
    %h3 {{user.first_name}}'s Playlists
    .parties-list{ ng_repeat: 'playlist in user.playlists' }
      %a.playlist{ ng_href: "/playlists/{{playlist.id}}" }
        {{playlist.name}}

  .create-playlist
    %h3 Create Playlist

    %form.create-playlist-form{ ng_submit: "createPlaylist()" }
      %input{ :type => "text", ng_model: "newPlaylist.name" }
      %input.small.button.radius{ :type => "submit", :value => "Create Playlist" }
