.search-playlists{ ng_controller: 'SearchCtrl' }
  %h3 Search for Playlists
  .container-fluid
    %input{ :type => "text", ng_model: "selectedPlaylist", typeahead: "playlist as playlist.name for playlist in playlists | filter:{name: $viewValue}" }
    %button.btn{ ng_click: 'joinPlaylist(selectedPlaylist.id)' }
      Join
