.add_songs{ ng_show: "user.dropbox_songs" }
  %h3 Select Songs to Add
  .songs-to-add{ ng_repeat: "song in user.dropbox_songs", ng_click: "toggleSongSelected(song.id)", ng_class: '{"selected": isSongSelected(song.id)}' }
    %span.name {{song.path}}
    %i.icon-ok
