.add_songs{ ng_show: "user.dropbox_songs" }
  .songs-to-add.song-list{ ng_repeat: "song in user.dropbox_songs", ng_click: "toggleSongSelected(song.id)", ng_class: '{"selected": isSongSelected(song.id)}' }
    %span.name {{song.name}}
    .icon-ok
      ✔
