%div{ ng_controller: "AddSongsCtrl", modal:"shouldBeOpen", close: "closeAddSongsModal()", options:"modalOpts" }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ ng_click: "closeAddSongsModal()" } &times;
        %h3 Select Songs to Add
      .modal-body.add-songs-modal
        .song-filter
          %input{ ng_model: "query",
            :placeholder => "search for songs...",
            on_debounced_keyup: "searchSc(query)" }

          .lookup-progress{ ng_show: 'inProgress' }
            .spinner

          .songs-to-add.song-list{ ng_repeat: "song in currentUser.dropbox_songs | filter: query",
              ng_click: "toggleSongSelected('dropbox', song.id)",
              ng_class: '{"song-in-playlist": songInPlaylist("dropbox", song.id), "selected": isSongSelected("dropbox", song.id)}' }
            = image_tag "https://dt8kf6553cww8.cloudfront.net/static/images/favicon-vflonlsct.ico"
            %span.name.wordwrap {{song.name}}
            %i.glyphicon.glyphicon-ok

          .songs-to-add.song-list{ ng_repeat: "song in scResults",
              ng_click: "toggleSongSelected('soundcloud', song)",
              ng_class: '{"song-in-playlist": songInPlaylist("soundcloud", song), "selected": isSongSelected("soundcloud", song)}' }
            = image_tag "//soundcloud.com/favicon.ico"
            %span.name.wordwrap {{song.title}}
            %i.glyphicon.glyphicon-ok

      .modal-footer
        %button.btn.btn-default{ ng_click: "closeAddSongsModal()" } Cancel
        %button.btn{ ng_click: "clearSelectedSongs()" } Clear
        %button.btn.btn-primary{ ng_click: "addSelectedSongs()" } Add Songs
