.playlist-container{ ng_if: 'playlist', ng_controller: 'PlaylistCtrl' }
  .name
    %h3 {{playlist.name}}

  .player{ ng_show: "playlist.owner_id == user.id" }
    %h3 Audio Player

  .add-dropbox-songs
    %button.btn{ ng_click: "openAddSongsModal()" }
      Add Songs
    %div{ modal:"shouldBeOpen", close: "closeAddSongsModal()", options:"modalOpts" }
      .modal-body
        =render '/partials/playlists/add_songs'
      .modal-footer
        %button.btn{ ng_click: "closeAddSongsModal()" } Cancel
        %button.btn.btn-primary{ ng_click: "addSelectedSongs()" } Add Songs

  .songs
    %h3 Songs
    .playlist-song-list{ ng_repeat: "song in playlist.playlist_songs | orderBy:'vote_count':true" }
      %span.name {{song.path}}
      %span.votes {{song.vote_count}} votes
      .btn.btn-mini{ ng_class: '{"btn-warning": song.current_user_vote_decision == 1}', ng_click: "upvoteSong(song)" }
        %i.upvote.icon-arrow-up
      .btn.btn-mini{ ng_class: '{"btn-warning": song.current_user_vote_decision == -1}', ng_click: "downvoteSong(song)" }
        %i.downvote.icon-arrow-down
