.playlist-container{ ng_if: 'playlist', ng_controller: 'PlaylistCtrl' }
  .name
    %h3 {{playlist.name}}

  .player{ ng_show: "playlist.owner_id == user.id" }
    %h4 Audio Player
    =render 'playlists/player'

  .add-dropbox-songs
    %button.btn.btn-default{ ng_click: "openAddSongsModal()" }
      Add Songs
    %div{ modal:"shouldBeOpen", close: "closeAddSongsModal()", options:"modalOpts" }
      .modal-dialog
        .modal-content
          .modal-header
            %h3 Select Songs to Add
          .modal-body
            =render '/partials/playlists/add_songs'
          .modal-footer
            %button.btn.btn-default{ ng_click: "closeAddSongsModal()" } Cancel
            %button.btn.btn-primary{ ng_click: "addSelectedSongs()" } Add Songs

  .playlist-songs
    %h4 Songs
    .song-list{ ng_repeat: "song in playlist.playlist_songs | orderBy:'vote_count':true" }
      %span.name {{song.song_name}}
      .playlist-votes
        %b.votes {{song.vote_count}} votes
        .btn.btn-default.btn-small{ ng_class: '{"btn-warning": song.current_user_vote_decision == 1}', ng_click: "upvoteSong(song)" }
          ⬆
        .btn.btn-default.btn-small{ ng_class: '{"btn-warning": song.current_user_vote_decision == -1}', ng_click: "downvoteSong(song)" }
          ⬇
