%h3 Connect Dropbox
.small-8.small-centered.large-4.columns
  = link_to 'http://localhost:4400/auth/dropbox', :target => "_blank", class: "small button radius expand" do
    %i.socialn
    %span.fb-connect-text link dropbox
