.jumbotron
  %h1#header Welcome to Ocarina, {{user.first_name}}!
  %p#sub-header.lead Connect with Dropbox now to create playlists and enjoy music with the people around you.

  .row#connect-area
    .col-lg-3.col-offset-4.dropbox-connect
      %button.btn.btn-primary{ dropbox_auth: '' }
        #dropbox-logo= image_tag "dropbox-logos_dropbox-glyph-white.png"
        Connect with Dropbox
    .col-lg-2.connect-later
      %a{href: "#"}
        I'll do it later
