.dropbox-auth{ ng_hide: 'user.dropbox_authenticated' }
  =render 'dropbox/authenticate'

.user-dropbox-songs{ ng_show: 'user.dropbox_authenticated', ng_controller: 'SongsCtrl' }
  %div{ modal: "shouldBeOpen", close: "closeDbSongsModal()", options: "modalOpts" }
    .modal-dialog
      .modal-content
        .modal-header
          %h3 {{user.first_name}}'s Dropbox Songs
        .modal-body
          .song-filter
            %input{ ng_model: "songFilter", :placeholder => "search your songs" }
          .song-list{ ng_repeat: 'song in user.dropbox_songs | filter: songFilter' }
            %span.name {{song.name}}
        .modal-footer
          %button.btn.btn-default{ ng_click: "closeDbSongsModal()" } Close
          %button.btn.btn-success{ ng_click: "refreshDropboxSongs()" }
            ♺
