.dropbox-auth{ ng_hide: 'user.dropbox_authenticated' }
  =render 'dropbox/authenticate'

.user-dropbox-songs{ ng_show: 'user.dropbox_authenticated', ng_controller: 'SongsCtrl' }
  %div{ modal: "shouldBeOpen", close: "closeDbSongsModal()", options: "modalOpts" }
    .modal-header
      %h3 {{user.first_name}}'s Dropbox Songs
    .modal-body
      .dropbox-songs-list{ ng_repeat: 'song in user.dropbox_songs' }
        %span.name {{song.path}}
    .modal-footer
      %button.btn{ ng_click: "refreshDropboxSongs()" }
        %i.icon-refresh
      %button.btn{ ng_click: "closeDbSongsModal()" } Close
