/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-glyphicons
 *= require_self
 *= require_tree .
 */

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav li a {
  color: #EEE;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret{
  border-top-color: #eee;
  border-bottom-color: #eee;
}

.navbar-brand{
  margin-top: 6px;
}

.navbar-inverse .dropdown ul li a{
  color: #000;
}

.nav-search{
  margin-top: 6px;
  width: 35%;
  height: 36px;
  background-color: #EEE;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.song-list{
  background-color: #EEE;
  padding: 8px;
  display: inline-block;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
}

.wordwrap{
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

.footer{
  margin-bottom: 400px;
}
