.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav li a {
  color: #EEE;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #eee;
  border-bottom-color: #eee;
}

.navbar-inverse .dropdown ul li a {
  color: #000;
}

form.navbar-form {
  width: 35%;
  @media screen and (max-width: 767px) {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    border-top: none;
  }

  .nav-search{
    background-color: #EEE;
    width: 100%;
  }
}

