// Create playlist
.fb-event{
  margin-bottom: 60px;
}

.create-playlist-modal{
  margin-bottom: 40px;
}

.new-event-name, .new-event-location, .new-event-date, .new-event-private{
  padding-top: 2px;
  padding-bottom: 2px;
}

.new-event-name, .new-event-location{
  width: 100%;
  .form-control{
    width: 80%;
    display: inline-block;
  }
}

.fb-events-container{
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-title{
  width: 10%;
  display: inline-block;
}

.new-event-date{
  width: 100%;
  .form-control{
    width: 40%;
    display: inline-block;
  }
}

.new-event-private{
  .checkbox{
    display: inline-block;
  }
  .form-control{
    width: 77%;
    display: inline-block;
  }
}

// Profile
.user-parties, .guest-parties {
  display: inline-block;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;

  h3.playlist-title {
    display: inline;
    width: 100%;
  }

  .create-playlist-btn {
    padding: 0px;
    margin-top: -13px;
    margin-left: 7px;

    img {
      padding: 2px;
    }
  }
}

ul#playlists {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;

  li {
    padding: 8px 35px 10px 15px;
    border-radius: 5px;
  }

  li:hover {
    background: #eee;
  }
}
