input#create-playlist-input {
  width: 80%;
}

.user-parties, .guest-parties {
  display: inline-block;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;

  h3.playlist-title {
    display: inline;
    width: 100%;
  }

  .create-playlist-btn {
    padding: 0px;
    margin-top: -13px;
    margin-left: 7px;

    img {
      padding: 2px;
    }
  }
}

ul#playlists {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;

  li {
    padding: 8px 35px 10px 15px;
    border-radius: 5px;
  }

  li:hover {
    background: #eee;
  }
}
