.main-logo {
  text-align: center;
}

.signup-btn {
  vertical-align: middle;
  padding: 0
}

.button .fb-connect-icon {
  top: 3px;
  padding-right: 3px;
  font-size: 16px;
}

span.fb-connect-text {
  letter-spacing: .09em;
  vertical-align: 35%;
  font-weight: normal;
}
