.player-container{ ng_controller: "GuestFeedbackCtrl" }
  .song-playing{ ng_show: "playlist.currentSong" }
    .currently-playing.wordwrap
      {{playlist.currentSong.song_name}}

    .save-song
      %span.glyphicon.glyphicon-heart{ ng_click: "toggleSongSaved(playlist.currentSong)", ng_class: '{"song-saved": songSaved(playlist.currentSong.id)}' }

    .skip-song
      .divider
        |
      %a{ ng_click: "skipSongVote(playlist.currentSong)" } Vote to Skip

  .nothing-playing{ ng_show: "!playlist.currentSong" }
    Tell the host to get this party started!
