.player-container{ ng_controller: "GuestFeedbackCtrl" }
  .currently-playing.wordwrap{ ng_show: "playlist.currentSong" }
    {{playlist.currentSong.song_name}}
  .nothing-playing{ ng_show: "!playlist.currentSong" }
    "tell the host to get this party started!"
  .feedback{ ng_show: "playlist.currentSong" }
    .save-song
      %span.glyphicon.glyphicon-heart{ ng_click: "toggleSongSaved(playlist.currentSong)", ng_class: '{"song-saved": songSaved(playlist.currentSong.id)}' }
