.container.main-container.ng-cloak
  .index.snap-content.scrollable{ snap_content: "" }
    %header.bar-title
      %button.button{ snap_toggle: "left" }
        = image_tag "open.png"
      %h1.title PlayedBy.me
    .content
      %div.ng-view{ ng_view: '' }
