.container.main-container.ng-cloak
  .index.snap-content.scrollable{ snap_content: "", snap_options: "snapOpts" }
    %header.bar-title
      %button.button{ snap_toggle: "left" }
        = image_tag "open.png"
      %a.title{ ng_href: "/" } PlayedBy.me
    .content
      %div.ng-view{ ng_view: '' }
